profile-view {

}

.profile-view__image-container{
  background-color: aquamarine;
  height: 220px;
}

.profile-view__image{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  height: 200px;
  max-height: 200px;
}
