<ion-item no-lines *ngIf="chatMessage.userToId === userId; else from">
  <ion-avatar item-left>
    <img src="assets/imgs/avatar-male.png" alt="avatar">
  </ion-avatar>
  <h2>{{chatMessage?.userFromProfile.firstName}} {{chatMessage?.userFromProfile.lastName}}</h2>
  <p>{{chatMessage?.content}}</p>
</ion-item>
<ng-template #from>
  <ion-item no-lines class="chat-message__message-right">
    <ion-avatar item-left>
      <img src="assets/imgs/avatar-female.png" alt="avatar">
    </ion-avatar>
    <h2>{{chatMessage?.userFromProfile.firstName}} {{chatMessage?.userFromProfile.lastName}}</h2>
    <p>{{chatMessage?.content}}</p>
  </ion-item>
</ng-template>
